.custom-input1 {
    text-align: left;
  }
  
  .custom-input2 {
    text-align: center;
    width: 20% !important;
  }
  
  .custom-button {
    width: 160px !important;
  }
  
  .right-align {
    display: flex !important;
    justify-content: end;
  }
  
  
  .form-check-input[type=checkbox] {
    border-color: #b4b3b3;
    border-radius: 0.35em !important;
  }
  
  .custom-confirm-button {
    background-color: #444749;
    color: white;
  }
  
  .custom-cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  
  .custom-toast-popup {
    width: 400px;
    height: 180px;
  }
  
  .custom-toast-popup-2 {
    width: 400px;
    height: 180px;
  }
  
  .custom-toast-popup-3 {
    width: 400px;
    height: 200px;
  }
  
  .custom-toast-icon {
    font-size: 5px;
  }
  
  .custom-toast-title {
    font-size: 20px;
  }
  
  .custom-confirm-button,
  .custom-cancel-button {
    font-size: 13px !important;
  }
  

  
  /* Dashboard.css */
  .dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    box-sizing: border-box;
  }
  
  .tab-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tab-main {
    background-color: #F5F7FA;
    color: black;
    width: 72%;
    position: relative;
    bottom: 1%;
  }
  
  .tab-row {
    display: flex;
    justify-content: space-around;
    /* padding: -100px;  */
    /* background-color: #f1f1f1; */
  }
  
  .tab-secondary {
    background-color: #e0e0e0;
    color: #333;
    width: 322px;
    height: 165px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
  }
  

  
  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-input-container .form-control {
    padding-right: 40px;
    /* Adjust padding to make space for the icon */
  }
  
  .password-toggle-button {
    position: absolute;
    right: 59px;
    /* Position icon within the input field */
    bottom: 112px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #3d3a3a;
    /* Adjust color as needed */
  }
  
  .password-toggle-button:hover {
    color: #000;
    /*Change color on hover*/
  }
 
  
  .role-create-btn {
    width: 100px !important;
    /* margin-bottom: 20px; */
    position: relative;
    left: 55%;
    color: #444749;
    background-color: #444749;
  }
  
  
  .user-register-create-btn {
    width: 120px !important;
    margin: 30px 0;
    position: relative;
    left: 4%;
    color: #444749;
    background-color: #444749;
  }
  
  .user-register-back-btn {
    width: 100px !important;
    margin: 30px 0;
    position: relative;
    left: 0%;
    color: #444749;
    background-color: #444749;
  }
  
  .user-page-create-btn {
    width: 100px !important;
    /* margin: 30px 0; */
    position: relative;
    left: 78%;
    color: #444749;
    background-color: #444749;
  }
  
  .dropdown-item:active {
    background-color: rgb(84, 84, 84) !important;
    color: #000;
  }
  
  .button-color {
    background-Color: #444749;
    border-Color: #444749;
  }
  
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  
  